:root {
  --font-serif: 'Times New Roman', Times, serif;
  --font-sans: Helvetica, Arial, sans-serif;

  --max-font-size: 40px;
  --min-font-size: 16px;

  --line-height: 1.2em;

  --font-size: clamp(var(--min-font-size), 3vw, var(--max-font-size));
}

html {
  font-size: var(--font-size);
  font-family: var(--font-sans);
}

main {
  line-height: var(--line-height);
  max-width: 15em;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.poem {
  /*
  text-align: justify;
  overflow-wrap: break-word;
  hyphens: auto;
  */

  padding-bottom: 1em;
}

.poem .line {
  text-shadow: 1px 1px rgba(184, 180, 122, 0.143);
}

.poem .blank,
.poem .separator {
  color: transparent;
  background-color: transparent;
}

.poem .word {
  font-style: italic;
  font-family: var(--font-serif);
  font-size: 1.1rem;
}
