:root {
  /*
  --font-sans: Helvetica, Arial, sans-serif;
  */
  --font-serif: 'Times New Roman', Times, serif;
  --font-sans: Helvetica, Arial, sans-serif;

  --max-font-size: 30px;
  --min-font-size: 16px;
  --line-height: 1.2em;

  --max-width: 25em;
  --canvas-padding: 4.9rem;

  --font-size: 3vw;
  /* clamp(var(--min-font-size), 3vw, var(--max-font-size)); */
}

html {
  font-size: var(--font-size);
  font-family: var(--font-sans);

  background-color: white;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  line-height: var(--line-height);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;

  position: relative;

  margin-top: 5em;
  margin-bottom: 5em;
}

.poem {
  z-index: 1;
  text-align: justify;
}

.poem .line,
.poem::after {
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  filter: blur(calc(0.03em + var(--r) * 0.17em));
  text-shadow:
    1px 1px 3px rgba(239, 238, 230, 0.7),
    -1px -1px 3px rgba(239, 238, 230, 0.7);

  hyphens: auto;
}

.poem .blank,
.poem .separator {
  color: transparent;
  background-color: transparent;
}

.poem .separator {
  padding-left: 0.25em;
}

.poem .word {
  font-style: italic;
  font-family: var(--font-serif);
  font-size: 1.1rem;
}

/*
.poem::after {
  content: '[...]';
  width: 100%;

  font-family: var(--font-serif);
}
  */

main {
}

main canvas {
  position: absolute;
  top: var(--canvas-padding);
  left: var(--canvas-padding);
  z-index: -1;

  width: calc(100% - (var(--canvas-padding) * 2));
  height: calc(100% - (var(--canvas-padding) * 2));

  box-shadow: 0px 0px 0.4em 0em rgba(19, 20, 45, 0.5);
  border: 3px solid rgba(36, 28, 6, 0.829);
  border-radius: 2px;

  filter: blur(1px);
}
